<form class="flexcol">
<section id="helyx-import">
    
    <div class="form-group">
         <label for="helyx-pdf-filename" style="font-weight: bold;">{{localize "Helyx.File"}}</label>
        <div class="form-fields"></div>
        <p class="notes" id="helyx-pdf-filename">{{pdfFilename}}</p>
    </div>

    <div class="form-group">
         <label for="helyx-pdf-name" style="font-weight: bold;">{{localize "Helyx.Book"}}</label>
        <div class="form-fields"></div>
        <p class="notes" id="helyx-pdf-name">{{pdfName}}</p>
    </div>    

    <div class="form-group" id="helyx-progress">
         <label for="helyx-progress-comment" style="font-weight: bold;">{{localize "Helyx.Progress"}} <span id="helyx-progress-percent"></span></label>
        <div class="form-fields"></div>
        <p class="notes" id="helyx-progress-comment" ></p>        
    </div>        

    <hr>
    
</section>
</form>
 